<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tourist ID</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
    </tr>
  </thead>
  <tbody>
  <% @reviews.each do |review|%>
    <tr>
      <td><%= review.id %></td>
      <td><%= review.tourist_id %></td>
      <td><%= review.rating %></td>
      <td><%= review.review %></td>
         
    </tr>
  <%end%>
  </tbody>
</table>